<div>
    <img src="../../assets/{{image}}.jpg" alt=""  height="400" width="470" srcset="">
</div>
<div *ngIf="showImage" [ngStyle]="{'color': color}">
    le mot a deviner était "{{mot}}" vous avez perdu
</div>
