<div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">saisissez une lettre</span>
    </div>
    <input type="text" [(ngModel)]="saisi" maxlength="1" (change)="checkWord()" class="form-control" aria-label="Amount (to the nearest dollar)">
    <div class="input-group-append">
      <button class="btn btn-primary" type="button" (click)="checkWord()">Validez</button>
    </div>
    
    <div class="input-group-prepend">
      <span class="input-group-text">saisissez le mot si vous l'avez trouver</span>
    </div>
    <input type="text" [(ngModel)]="saisiWord" (change)="checkWordSaisi()" class="form-control" aria-label="Amount (to the nearest dollar)">
    <div class="input-group-append">
      <button class="btn btn-primary" type="button" (click)="checkWordSaisi()">Validez</button>
    </div> 
      

      <!--<span *ngFor="let letter of tabWord" class="badge badge-secondary">
        <ng-container *ngIf="letterShow; else elseTemplate">
          {{letter}}
        </ng-container>
        <ng-template #elseTemplate>
          _
        </ng-template>
      </span>
    </div>-->
</div>
<div id="word">
</div>
