<div class="container">

    <div class="row">
        <button class="btn btn-warning" (click)="init()" type="button">Initialiser</button>  
    </div>

    <div class="row">
    <div class="mt-4">
      <app-saisi class="mr-4" (sendImageToFather)="sendImageToImageComponent($event)" (sendWinToFather)="sendWinToFatherToImageComponent($event)" class="col-8"></app-saisi>
      <app-image [image]="image" class="col-6"></app-image>
    </div>
    
    </div>
    
</div>
